.App {
  text-align: center;
  border: 30px solid slateblue;
  padding: 30px;
  color: indigo;
  background-color: aliceblue;
  font-family: 'Copperplate';
}

.beast {
  border: 5px solid cornflowerblue;
  padding: 20px;
  margin: 15px;
  color: blueviolet;
  background-color: lavender;
  border-radius: 25px;
  font-weight: bold;
  }

.beastImg {
  border: 5px solid blueviolet;
  border-radius: 25px;
}

.header {
  font-size: 100px;
  text-shadow: 3px 5px black;
}

.fire {
  font-size: 20px;
  color: tomato;
}

.beastDescription {
  margin-top: 15px;
}
